
.idea/

target/

*.iml

temp.java.asc

temp.java

src/main/java/me/mattstudios/mfgui/CMD.java
src/main/java/me/mattstudios/mfgui/Main.java
src/main/resources/

src/main/java/me/mattstudios/mfmsg/Cmd.java

src/main/java/me/mattstudios/mfmsg/Main.java

src/main/java/me/mattstudios/mfmsg/Plugin.java
